<footer class="container p-5 bg-dark text-white mt-4 mb-0">
    <div class="row">
        <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12 my-links">
            <h3 class="heading-3 fw-bold">Quick Links:</h3>
            <ul class="list-items">
                <li class="bottom-links"><a href="{% url 'mip-home' %}">Home</a></li>
                <li class="bottom-links"><a href="#">Research</a></li>
                <li class="bottom-links"><a href="{% url 'mip-team' %}">Our Team</a></li>
                <li class="bottom-links"><a href="#">Computer Science Impossible Jump</a></li>
                <li class="bottom-links"><a href="#">Partner With Us</a></li>
            </ul>
        </div>
        <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12 my-services">
            <h3 class="heading-3 fw-bold">Our Services:</h3>
            <ul class="list-items">
                <li class="bottom-links"><a href="#">Smart Grids for Africa</a></li>
                <li class="bottom-links"><a href="#">ACFTA/IEC Standards Eco-system</a></li>
                <li class="bottom-links"><a href="#">LifeLinesNets - Emergency States</a></li>
                <li class="bottom-links"><a href="#">LifeLinesNets - Topological Reliability</a></li>
                <li class="bottom-links"><a href="#">Integrated LifeLines Infrastructure Emergency - Disaster Protection</a></li>
            </ul>
        </div>
        <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12 my-address">
            <div class="acr-address">
                <h3 class="heading-3 fw-bold">Address:</h3>
                <div class="row hq-address">
                    <div class="col-md-1 location d-flex align-items-center justify-content-center">
                        <span class="hq-location-icon"><i class="fa fa-map-marker fa-2x"></i></span>
                    </div>
                    <div class="col-md-11">
                        <p class="nju-address fw-bold">New Jerusalem University<br/>
                            Smart Lifelines Systems  Advanced Technology Park,<br/>
                            KAMAILA-AREA, CHISAMBA, Central Province<br/>
                            P. O. Box 320384 Woodlands,</br>
                            Lusaka, Zambia.
                        </p>
                    </div>
                </div>

                <!-- <p><i class="fa fa-envelope" aria-hidden="true"></i>: info@makingimpossiblepossible.com</p> -->
                <p class="mip-contact"><i class="fa fa-phone" aria-hidden="true"></i> : +260 211 290979</p>
                <div class="d-flex justify-content-center mt-4 mb-4"> 
                    <span class="social-link"><a href="mailto:info@makingimpossiblepossible.com"><i class="fa fa-envelope" aria-hidden="true"></i></a></span>
                    <span class="social-link"><a href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a></span>
                    <span class="social-link"><a href="https://www.linkedin.com/in/lemba-d-nyirenda-dr-19353211"><i class="fa fa-linkedin" aria-hidden="true"></i></a></span>
                    <span class="social-link"><a href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a></span> 
                </div>
            </div>
        </div>
    </div>
    <div class="row copyrights text-white text-center mt-2 pt-2 mb-sm-0 mb-md-0 mb-lg-0">
        <h4 class="company pt-2">&copy; 2022 - 2024, AFRICAN COMPUTER SCIENCE AND ENGINEERING RENAISSANCE CHALLENGE</h4>
        <h6 class="developer">Developed and Maintained by Ingenuity CyberTech.</h4>
    </div>
</footer>